*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../bac.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    color: aliceblue;
    margin-top: -10rem;
}

.countdown-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;


}

.countdown-el{
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}